<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
            <section id="payment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="stcpayment" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>StcPaymentGateway</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                 <!-- Enter the X-ClientCode -->
               <field id="x_clientcode" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter the X-ClientCode</label>
                </field>

                  <!-- Enter the DirectPaymentAuthorize -->
               <field id="directpaymentauthorize" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter DirectPaymentAuthorize URL</label>
                </field>

                 <!-- Enter the DirectPaymentConfirm -->
               <field id="directpaymentconfirm" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter DirectPaymentConfirm URL</label>
                </field>

                <!-- Enter the DirectPayment -->
                <field id="directpayment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter DirectPayment URL</label>
                </field>

                  <!-- Enter the PaymentInquiry -->
                <field id="paymentinquiry" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter PaymentInquiry URL</label>
                </field>


                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
              
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="instructions" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instructions</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <!-- Upload the SSLKEY -->
                <field id="sslkey_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="60" showInDefault="1" showInWebsite="1" >
                     <label>Upload the SSLKEY</label>
                      <backend_model>STC\StcPaymentGateway\Model\Config\Backend\UploadFile</backend_model>
                    <upload_dir config="system" scope_info="1">ssl</upload_dir>
                </field>

                 <!-- Upload the SSLCERT -->
                 <field id="sslcert_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="70" showInDefault="1" showInWebsite="1" >
                     <label>Upload the SSLCERT</label>
                      <backend_model>STC\StcPaymentGateway\Model\Config\Backend\UploadFile</backend_model>
                    <upload_dir config="system" scope_info="1">ssl</upload_dir>
                </field>

               <!-- Enter the BranchID -->
               <field id="branchid" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter the BranchID</label>
                </field>

                <!-- Enter the TellerID -->
               <field id="tellerid" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter the TellerID</label>
                </field>

                  <!-- Enter the DeviceID -->
               <field id="deviceid" translate="label" type="text" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter the DeviceID</label>
                </field>

                 <!-- Enter the ExpiryPeriodType -->
               <field id="expiryperiodtype" translate="label" type="text" sortOrder="94" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter the ExpiryPeriodType</label>
                </field>

                  <!-- Enter the ExpiryPeriod -->
               <field id="expiryperiod" translate="label" type="text" sortOrder="96" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter the ExpiryPeriod</label>
                </field>

           </group>
              <!-- payment-group -->
        </section>
    </system>
</config>
